* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* ==========Global Css============= */

/* =============dashboard-right-start=============== */
.dashboard_right {
    width: 100%;
    background: #F5F5F5;

}

.dashboard_content {
    width: 95%;
    margin: 130px auto;
    background: #ffff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.user_text {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}

.user_text h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #0077B6;
    padding: 16px 60px;
}

.search_box {
    padding: 16px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search_input {
    width: 80%;
}

.search_input input {
    width: 100%;
    border: none;
    background: #E9ECEF;
    padding: 10px 25px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.search_input input::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #193441;
}

.search_input input:focus {
    outline: none;
}

.submit_btn button {
    border: none;
    background: #0077B6;
    color: #fff;
    padding: 10px 45px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

/* =============dashboard-right-end=============== */
/* =========================Table-end============== */
.table_info {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;

}

.table_head {
    display: flex;
    justify-content: space-between;

}


/* ===============Table========= */
.data_table {
    min-width: 95%;
    margin: 0 auto;
    padding-left: 60px;
    padding-right: 60px;

}

table {
    min-height: 95%;
    margin: 0 auto;
    border-collapse: collapse;
}

.view,
.edit,
.delete {

    padding: 5px 5px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin: 5px;
}

.view {
    background: #11998E;
}

.edit {
    background: #0077B6
}

.delete {
    background: #FF0000;
}

.user_img img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

table {
    width: 100%;
}

td,
th {
    text-align: left;
    padding: 5px 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #193441;

}

tr td {
    border: none;
}

tr:nth-child(even) {
    background-color: #CAF0F8;
}

.action_btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action_btn .view a {
    text-decoration: none;
    color: #fff;
    margin: 0;
    padding: 0;
    line-height: 0;
}

/* ===============Table========= */
/* ===========user========= */

/* =========================Table-end============== */

/* ============Dashboard-footer=============== */
.dshboard_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
    padding-top: 40px;
}

.show_page {
    margin-left: 40px;
}

.show_page span {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #193441;
    margin-right: 12px;
}

.show_page select {
    background: #FFFFFF;
    border: 0.5px solid #0077B6;
    border-radius: 2px;
    margin-right: 12px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #193441;

}

.show_page select option {
    text-align: center;
}

.show_page select:focus {
    outline: none;
}

.page_number {
    margin-right: 40px;

}

.page_number button {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #193441;
    border: none;
    background: transparent;
    margin: 10px;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: .3s all ease;
    -webkit-transition: .3s all ease;
    -moz-transition: .3s all ease;
    -ms-transition: .3s all ease;
    -o-transition: .3s all ease;
}

.page_number button:hover {
    background: #0077B6;
    border-radius: 5px;
    padding: 5px 10px;
    color: #ffff;
}

.page_number button:focus {
    outline: none;
}

.page_number button.btn_active {
    background: #0077B6;
    color: #fff;
}

.page_number span {
    border-radius: 5px;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: .3s all ease;
    -webkit-transition: .3s all ease;
    -moz-transition: .3s all ease;
    -ms-transition: .3s all ease;
    -o-transition: .3s all ease;
}

.page_number span:hover {
    background: #0077B6;
    color: #fff;
}


.page_active {
    background: #0077B6;
    color: #fff;
}

#hidebtn {
    display: none;
}

/* =======================Responsive======================== */

@media screen and (max-width: 640px) {


    .dashboard_right {
        width: 100%;
        overflow-x: scroll;
    }

    .admin_info {
        display: none;

    }

    .menu_item {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .logo_area {
        width: 180px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #middle_none.vanice {
        width: 100px;
    }

    .dashboard_content {
        width: fit-content;
        margin-left: 30px;
    }

    .dashbord_middel {
        width: 0%;
    }

    #dashboard_left {
        display: none;
        transition: all 1s !important;
        -webkit-transition: all 1s !important;
        -moz-transition: all 1s !important;
        -ms-transition: all 1s !important;
        -o-transition: all 1s !important;
    }

    #toggle {
        display: none;
    }

    #hidebtn {
        display: inline-block;
    }


}